<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demosecurity4.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demosecurity4.user.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="country_code" jdbcType="VARCHAR" property="countryCode"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
    </resultMap>
    <insert id="insert" parameterType="com.example.demosecurity4.user.entity.User">
      insert into user_temp (id, username, password, email, mobile, country_code, address, enabled)
      values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{enabled,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.example.demosecurity4.user.entity.User">
        insert into user_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="countryCode != null">
                country_code,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="countryCode != null">
                #{countryCode,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select id, username, password, email, mobile, country_code, address, enabled from `user` a
        where a.username = #{username}
        or a.email = #{username}
        or a.mobile = #{username}
  </select>
</mapper>